<!doctype html>
<html lang="en" class="no-js">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/css/materialize.min.css">
	<link href='http://fonts.googleapis.com/css?family=Droid+Serif|Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,300italic,400italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/js/materialize.min.js"></script>


	<link rel="stylesheet" href="css/timeline/reset.css"> <!-- CSS reset -->
    <link rel="stylesheet" href="css/timeline/modal.css">
	<link rel="stylesheet" href="css/timeline/style.css"> <!-- Resource style -->

    <link rel="stylesheet" href="css/timeline/foundation.css">
    <link rel="stylesheet" href="css/timeline/normalize.css">

    <link rel="stylesheet" href="css/admin/materialize.css">
    <link rel="stylesheet" href="css/admin/materialize.min.css">



	<script src="js/timeline/modernizr.js"></script> <!-- Modernizr -->

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="js/timeline/main.js"></script>

	<title>MASTER PAGE</title>

</head>


<body>
<header style="width: 100%; position: fixed; z-index: 100">
        <a href="/">
            <div style="float: left;">
                <img src="img/timeline/back.png" alt="back" style="vertical-align: middle; margin-left: 10px">
            </div>
        </a>
        <a href="setting">
            <div style="float: right;">
                <img src="img/timeline/setting.png" alt="setting" style="vertical-align: middle; margin-right: 10px">
            </div>
        </a>
        <h1>MASTER</h1>
    </header>

    <div style="margin-top: 95px"></div>
    <div>
        <div style="float: left; height: 100%; width: 50%; padding-right: 100px; padding-left: 100px">
            <h3 style="text-align: center">DoDream</h3>
            <div class="divider" style="height: 3px;"></div>
            <br><br>
            <table class="bordered">
                <!--
                <thead>
                    <tr>
                        <th data-field="name">공약이름</th>
                        <th data-field="price">공약 자세히</th>
                    </tr>
                </thead>
                   -->
                <tbody>
                    <tr>
                        <td>선.디.전</td>
                        <td>고연전, 연고전과 같은 선린인터넷고와 디지털미디어고의 각종 대결을 추진합니다</td>
                    </tr>
                    <tr>
                        <td>애플데이</td>
                        <td>사과하고 싶었던 사람에게 편지를 써주시면 사과와 함께 대신 전달해 드립니다</td>
                    </tr>
                    <tr>
                        <td>별빛이 내린다</td>
                        <td>야자가 끝난 밤에 어두웠던 1호관 뒤쪽에 조명을 설치합니다.</td>
                    </tr>
                    <tr>
                        <td>2 dream</td>
                        <td>휴대폰, 우산, 석식, 에코백, 축구공, 농구공 대여, 집에서 안쓰던 물건들을 모아 선린 벼룩시장 개최</td>
                    </tr>
                    <tr>
                        <td>게임채널 e</td>
                        <td>E-sports 게임대회를 개최합니다~</td>
                    </tr>
                    <tr>
                        <td>홍보가 기가막혀</td>
                        <td>중학교에 직접 홍보를 갈 수 있는 기회를 제공해 드립니다.</td>
                    </tr>
                    <tr>
                        <td>guess (계단스티커)</td>
                        <td>내려갈 때 구별이 되지 않아 위험했던 갈색 계단에 스티커를 부착하여 보다 안전하게 다닐 수 있습니다.</td>
                    </tr>
                    <tr>
                        <td>고삼 Pictures</td>
                        <td>졸업사진을 찍으시는 고3 선배들의 사진을 모아 가장 재미있는 사진 투표. 소정의 선물 증정</td>
                    </tr>
                    <tr>
                        <td>구기대회</td>
                        <td>체육대회로는 아쉬웠던 여러분을 위해 2학기에 소규모 구기대회를 개최</td>
                    </tr>
                    <tr>
                        <td>선린 App 개발</td>
                        <td>각종 공지사항, 학교소식, 대회일정, 급식 메뉴, 반별 수행 일정을 한 곳에 모은 선린 App 개발 프로젝트</td>
                    </tr>
                    <tr>
                        <td>?</td>
                        <td>이 물음표는 여러분의 건의를 받아 전교생과 두드림이 함께 채워 나갈 수 있는 공간.</td>
                    </tr>
                </tbody>
            </table>
        </div>
        
        <div style="float: right; height: 100%; width: 50%; padding-right: 100px; padding-left: 100px">
            <h3 style="text-align: center">SinMyung</h3>
            <div class="divider" style="height: 3px;"></div>
            <br><br>
            <table class="bordered">
                <thead>
                    <tr>
                        <th data-field="name">공약이름</th>
                        <th data-field="price">공약 자세히</th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td>빌:공약</td>
                        <td>여러분이 원하는 공약을 들어드립니다.</td>
                    </tr>
                    <tr>
                        <td>선린뉴스</td>
                        <td>한달에 한 번 선린뉴스로 소식을 전하겠습니다.</td>
                    </tr>
                    <tr>
                        <td>급식의지니</td>
                        <td>여러분이 먹고싶은 급식을 먹을 수 있도록 투표를 진행</td>
                    </tr>
                    <tr>
                        <td>모두의축제</td>
                        <td>복면가왕 등 새로워진 축제개선</td>
                    </tr>
                    <tr>
                        <td>선림픽</td>
                        <td>장애물 달리기, 여자종목 추가 등 새로워진 체육대회</td>
                    </tr>
                    <tr>
                        <td>선린챔스</td>
                        <td>리그방식으로 진행되는 선린풋살대회</td>
                    </tr>
                    <tr>
                        <td>E-Sports </td>
                        <td>매년 진행해온 E-Sports</td>
                    </tr>
                    <tr>
                        <td>대여해도 돼여?</td>
                        <td>공, 석식, 우산, 충전기를 대여해드립니다.</td>
                    </tr>
                    <tr>
                        <td>학생증 리뉴얼</td>
                        <td>학생증 공모전을 통해 새롭게 바뀔 학생증!</td>
                    </tr>
                    <tr>
                        <td>프린터를 부탁해</td>
                        <td>고장나서 느리고 불편했던 프린터기를 추가/삭제</td>
                    </tr>
                    <tr>
                        <td>허니버터고3</td>
                        <td>학업에 지친 선배들을 위한 작은 이벤트</td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
</body>