<!doctype html>
<html lang="en" class="no-js">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link href='http://fonts.googleapis.com/css?family=Droid+Serif|Open+Sans:400,700' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" href="css/timeline/reset.css"> <!-- CSS reset -->
	<link rel="stylesheet" href="css/timeline/style.css"> <!-- Resource style -->
	<script src="js/timeline/modernizr.js"></script> <!-- Modernizr -->
  	
	<title>Responsive Vertical Timeline</title>
</head>

<body>
    <header style="width: 100%; position: fixed; z-index: 100">
        <a href="/">
            <div id="left">
                <img src="img/timeline/back.png" alt="back" style="vertical-align: middle; margin-left: 10px">
            </div>
        </a>
        <a href="setting">
        <div id="right">
            <img src="img/timeline/setting.png" alt="setting" style="vertical-align: middle; margin-right: 10px">
        </div>
        </a>
        <h1>연표 이행도</h1>
    </header>
	<section id="cd-timeline" class="cd-container" style="margin-top: 0px">
        <!-- for title -->
        <div style="margin-top: 100px"></div>
		<!-- finish -->

        <div class="cd-timeline-block-big">
			<div class="cd-timeline-img cd-dodream cd-big bounce-in" style="padding-top:42px;">
				<h1 style="text-align: center; color: white">2014</h1>
			</div> <!-- cd-timeline-img -->

			<div class="cd-timeline-content" style="visibility: hidden">

			</div> <!-- cd-timeline-content -->
		</div> <!-- MY TEST CONTENT -->

        <div class="cd-timeline-block">
			<div class="cd-timeline-img cd-picture bounce-in">
				<img src="img/timeline/cd-icon-picture.svg" alt="Picture">
			</div> <!-- cd-timeline-img -->

			<div class="cd-timeline-content">
				<h2>Title of section 1</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, optio, dolorum provident rerum aut hic quasi placeat iure tempora laudantium ipsa ad debitis unde? Iste voluptatibus minus veritatis qui ut.</p>
				<a href="#0" class="cd-read-more">Read more</a>
				<span class="cd-date">Jan 14</span>
			</div> <!-- cd-timeline-content -->
		</div> <!-- cd-timeline-block -->

		<div class="cd-timeline-block">
			<div class="cd-timeline-img cd-movie bounce-in">
				<img src="img/timeline/cd-icon-movie.svg" alt="Movie">
			</div> <!-- cd-timeline-img -->

			<div class="cd-timeline-content">
				<h2>땡명 뿌뿌</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, optio, dolorum provident rerum aut hic quasi placeat iure tempora laudantium ipsa ad debitis unde?</p>
				<a href="#0" class="cd-read-more">Read more</a>
				<span class="cd-date">Jan 18</span>
			</div> <!-- cd-timeline-content -->
		</div> <!-- cd-timeline-block -->

		<div class="cd-timeline-block">
			<div class="cd-timeline-img cd-picture bounce-in">
				<img src="img/timeline/cd-icon-picture.svg" alt="Picture">
			</div> <!-- cd-timeline-img -->

			<div class="cd-timeline-content">
				<h2>Title of section 3</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi, obcaecati, quisquam id molestias eaque asperiores voluptatibus cupiditate error assumenda delectus odit similique earum voluptatem doloremque dolorem ipsam quae rerum quis. Odit, itaque, deserunt corporis vero ipsum nisi eius odio natus ullam provident pariatur temporibus quia eos repellat consequuntur perferendis enim amet quae quasi repudiandae sed quod veniam dolore possimus rem voluptatum eveniet eligendi quis fugiat aliquam sunt similique aut adipisci.</p>
				<a href="#0" class="cd-read-more">Read more</a>
				<span class="cd-date">Jan 24</span>
			</div> <!-- cd-timeline-content -->
		</div> <!-- cd-timeline-block -->

		<div class="cd-timeline-block">
			<div class="cd-timeline-img cd-location bounce-in">
				<img src="img/timeline/cd-icon-location.svg" alt="Location">
			</div> <!-- cd-timeline-img -->

			<div class="cd-timeline-content">
				<h2>Title of section 4</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, optio, dolorum provident rerum aut hic quasi placeat iure tempora laudantium ipsa ad debitis unde? Iste voluptatibus minus veritatis qui ut.</p>
				<a href="#0" class="cd-read-more">Read more</a>
				<span class="cd-date">Feb 14</span>
			</div> <!-- cd-timeline-content -->
		</div> <!-- cd-timeline-block -->

		<div class="cd-timeline-block-big">
			<div class="cd-timeline-img cd-sinmyung cd-big bounce-in" style="padding-top:42px;">
				<h1 style="text-align: center; color: white">2015</h1>
			</div> <!-- cd-timeline-img -->

			<div class="cd-timeline-content" style="visibility: hidden">

			</div> <!-- cd-timeline-content -->
		</div> <!-- MY TEST CONTENT -->

		<div class="cd-timeline-block">
			<div class="cd-timeline-img cd-location bounce-in">
				<img src="img/timeline/cd-icon-location.svg" alt="Location">
			</div> <!-- cd-timeline-img -->

			<div class="cd-timeline-content">
				<h2>두드림 쀼쀼</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, optio, dolorum provident rerum.</p>
				<a href="#0" class="cd-read-more">Read more</a>
				<span class="cd-date">Feb 18</span>
			</div> <!-- cd-timeline-content -->
		</div> <!-- cd-timeline-block -->

		<div class="cd-timeline-block">
			<div class="cd-timeline-img cd-movie bounce-in">
				<img src="img/timeline/cd-icon-movie.svg" alt="Movie">
			</div> <!-- cd-timeline-img -->

			<div class="cd-timeline-content">
				<h2>Final Section</h2>
				<p>This is the content of the last section</p>
				<span class="cd-date">Feb 26</span>
			</div> <!-- cd-timeline-content -->
		</div> <!-- cd-timeline-block -->
	</section> <!-- cd-timeline -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="js/timeline/main.js"></script> <!-- Resource jQuery -->
</body>
</html>