<!doctype html>
<html lang="en" class="no-js">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link href='http://fonts.googleapis.com/css?family=Droid+Serif|Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,300italic,400italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" href="css/timeline/reset.css"> <!-- CSS reset -->
    <link rel="stylesheet" href="css/timeline/modal.css">
	<link rel="stylesheet" href="css/timeline/style.css"> <!-- Resource style -->

    <link rel="stylesheet" href="css/timeline/foundation.css">
    <link rel="stylesheet" href="css/timeline/normalize.css">



	<script src="js/timeline/modernizr.js"></script> <!-- Modernizr -->


	<title>공약 이행표</title>


</head>

<body>
    <header style="width: 100%; position: fixed; z-index: 100">
        <a href="/">
            <div id="left">
                <img src="img/timeline/back.png" alt="back" style="vertical-align: middle; margin-left: 10px">
            </div>
        </a>
        <a href="setting">
        <div id="right">
            <img src="img/timeline/setting.png" alt="setting" style="vertical-align: middle; margin-right: 10px">
        </div>
        </a>
        <h1>연표 이행도</h1>
    </header>
	<section id="cd-timeline" class="cd-container" style="margin-top: 0px">
        <!-- for title -->
        <div style="margin-top: 100px"></div>
		<!-- finish -->


        {% for year in years %}
            <div class="cd-timeline-block-big">
            {% if promise_data[year|string][0]['promise_party'] == 2 %}
                <div class="cd-timeline-img cd-dodream cd-big bounce-in" style="padding-top:42px;">
            {% else %}
                <div class="cd-timeline-img cd-sinmyung cd-big bounce-in" style="padding-top:42px;">
            {% endif %}
                    <h1 style="text-align: center; color: white">{{ year }}</h1>
                </div>

                    <div class="cd-timeline-content" style="visibility: hidden">
                </div>
            </div>
            {%  for data in promise_data[year|string] %}

                <div class="cd-timeline-block">
                    <div class="cd-timeline-img cd-dodream bounce-in">

                        <img src="img/timeline/cd-icon-picture.svg" alt="Picture">
                    </div>

                    <div class="cd-timeline-content">
                        {% if data['promise_percent'] == 100 %}
                        <h2 style="color: brown">{{ data['promise_title'] }} - Complete</h2>
                        {% else %}
                        <h2>{{ data['promise_title'] }}</h2>
                        {% endif %}


                        <progress value="{{ data['promise_percent'] }}" max="100"></progress>
                        {{ data['promise_percent'] }}%
                        <p>{{ data['promise_info'] }}</p>

                        {% if data['promise_percent'] == 100 %}
                            이 공약이 제대로 지켜졌나요?<br>

                        {% endif %}

                        <a href="javascript:openPopup()" class="cd-read-more" style="float: right;">Read more</a>

                        <span class="cd-date">{{ data['promise_date'] }}</span>
                    </div>
                </div>

            {%  endfor  %}
        {% endfor %}




	</section> <!-- cd-timeline -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="js/timeline/main.js"></script> <!-- Resource jQuery -->
</body>
</html>